# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'NDK/NaCl Debugger'
      'submenu': [
        {
          'label': 'Debug NDK'
          'command': 'KuttiDebugger:start'
        },
        {
          'label': 'Debug NaCl'
          'command': 'KuttiDebugger:naclStart'
        }
        # {
        #   'label': 'Settings'
        #   'command': 'KuttiDebugger:settings'
        # }
      ]
    ]
  }
]
